<div class='row mt-2 pl-2'>
    <h3> <%= org.name %></h3>
    <nav class="nav nav-pills nav-stacked pr-1 mt-1">
      <a class="nav-link active" href="#">Events</a>
      <a class="nav-link" href="#">Attendees</a>
      <a class="nav-link" href="#">Surveys</a>
      <a class="nav-link" href="#">Payment Processing</a>
      <a class="nav-link" href="#">Reports</a>
      <a class="nav-link" href="#">Organization Settings</a>
    </nav>
</div>