<div class='row'>
    <div class='col-xs-12 text-xs-center'>
        <h2>Contribution for <%= @event.organization.name %> <br /> <small class='text-muted'>Amount counts towards <%= @event.name %> Goal</small></h2>
        <%= render 'form', contribution: @contribution, event: @event %>
    </div>
</div>